html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

#menu {
  width: 100%;
  height: 6%;
  text-align: center;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #6f6f6f;
  height: 100%;
}
#menu ul li {
  display: inline-block;
  height: 100%;
}
#menu ul li button {
  height: 100%;
  width: 140px;
  text-align: center;
  font-size: 18px;
}
#menu ul li button {
  color: #fff;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
#menu ul li:hover,
#menu ul li button:hover {
  background: #f3f2ee;
}
#menu ul li:hover button {
  color: #333333;
}

#doc {
  background: #f3f2ee;
  border-style: none;
  position: absolute;
  width: 100%;
  height: 94%;
}
